---

import WidgetLayout from './WidgetLayout.astro'
import ButtonTag from '../control/ButtonTag.astro'
import { i18n } from '../../i18n/translation'
import I18nKey from '../../i18n/i18nKey'
import { skillsConfig } from '@/config'


interface Props {
  class?: string
  style?: string
}
const className = Astro.props.class
const style = Astro.props.style
---
<WidgetLayout name={i18n(I18nKey.skills)} id="skills" class={className} style={style}>
    {skillsConfig.category.map((category) => (
        <>
            <div class="font-bold text-lg text-neutral-900 dark:text-neutral-100">{category.name}</div>
            <div class="flex gap-2 flex-wrap">
                    {category.skills.map((skill) => (
                        <ButtonTag>{skill.name}</ButtonTag>
                    ))}
            </div>
        </>
    ))}
</WidgetLayout>